# Игнорировать папки зависимостей
node_modules/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать настройки IDE
.vscode/
.idea/

# Игнорировать временные и лог файлы
*.log
*.tmp

# Игнорировать кэш браузера
*.cache

# Игнорировать большие медиафайлы, если нужно
/images/*.mp4
/images/*.mov
