/* Общие стили */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f8f9fa;
  color: #333;
  text-align: center;
}

/* Шапка */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d1a33;
  padding: 10px 0;
  color: white;
}
.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 10px;
  object-fit: cover;
}

/* Фото животных */
.animal-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
  border-radius: 8px;
}

/* Секции */
section {
  padding: 30px 10%;
}

section h2 {
  margin-bottom: 15px;
}

section p {
  margin-bottom: 15px;
}

ul {
  list-style: disc;
  margin: 0 auto 20px auto;
  padding-left: 20px;
  max-width: 700px;
  text-align: left;
}

/* Контактная форма */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.contact-form button {
  padding: 10px;
  background-color: #0d1a33;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #11254d;
}

/* Футер */
footer {
  background-color: #0d1a33;
  color: white;
  padding: 15px;
  margin-top: 30px;
}
